<div class="o-our-services container">
  <h3>Our Services</h3>
  <p>Our services are designed to co-create products with you.</p>
  <div class="m-services d-lg-flex justify-content-between">
    <div class="m-service d-md-flex flex-md-column align-items-start col-lg-6">
      <img src="../../../assets/innovation-graph.svg" alt="Innovation" />
      <h2>Innovation</h2>
      <ul class="d-md-flex">
        <li>Spark Innovation</li>
        <li>Acceleration Process</li>
      </ul>
      <p>
        We believe digital should only exist if it adds value to real life. So
        before we let the developers loose, we need to have a highly considered
        concept based on robust and creative thinking. Our Innovation processes
        is designed to deliver awesome prototypes while always taking risk
        reduction into consideration. This approach is what sets us apart.
      </p>
      <div class="d-flex flex-column align-items-start">
        <a href="#" class="a-text-link">Compare services</a>
        <a href="#" class="a-btn _primary d-lg-none">Learn More</a>
      </div>
    </div>
    <div class="m-service d-md-flex flex-md-column align-items-start col-lg-6">
      <img src="../../../assets/innovation-graph.svg" alt="Innovation" />
      <h2>Development</h2>
      <ul class="d-md-flex">
        <li>Website Development</li>
        <li>App Development</li>
      </ul>
      <p>
        At Fonk we take your digital product using our own refined Agile
        processes. Website development / App development, testing and launching
        - we take care of everything for you. Through constant feedback loops
        with all stakeholders, we make sure you know exactly what you are
        getting and are part of the process every step of the way.
      </p>
      <a href="#" class="a-btn _primary d-lg-none">Learn More</a>
    </div>
  </div>
  <div class="m-btns d-none d-lg-flex justify-content-between">
    <div class="col-lg-6">
      <a href="#" class="a-btn _primary">View Innovation Services</a>
    </div>
    <div class="col-lg-6">
      <a href="#" class="a-btn _primary">View Website Development Service</a>
      <a href="#" class="a-btn _primary">View App Development Service</a>
    </div>
  </div>
</div>
