// ATOMS [ MISC ]  ####################################################################################################

// BASE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. FONTS ---------------------------------------------

h1,
.fntH1 {
  @include fntH1();
}

h2,
.fntH2 {
  @include fntH2();
}

h3,
.fntH3 {
  @include fntH3();
}

h4,
.fntH4 {
  @include fntH4();
}

h5,
.fntH5 {
  @include fntH5();
}

h6,
.fntH6 {
  @include fntH6();
}

h1,
.fntH1,
h2,
.fntH2,
h3,
.fntH3 {
  font-family: $poppins;
  font-weight: 600;
}

a {
  color: $default;
}

// DARK THEME

.contact {
  h1,
  .fntH1,
  h2,
  .fntH2,
  h3,
  .fntH3,
  h4,
  .fntH4,
  h5,
  .fntH5,
  h6,
  .fntH6 {
    color: $white !important;
  }
}

// A.1. END -----------------------------------------------

// END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
