<div class="o-image-reel d-flex flex-column">
  <div class="m-reels d-flex">
    <div class="m-reel">
      <img src="../../../assets/reel/reel-1.jpg" alt="reel 1" class="a-img" />
    </div>
    <div class="m-reel">
      <img src="../../../assets/reel/reel-2.jpg" alt="reel 2" class="a-img" />
    </div>
    <div class="m-reel">
      <img src="../../../assets/reel/reel-3.jpg" alt="reel 3" class="a-img" />
    </div>
    <div class="m-reel _bg">
      <img src="../../../assets/reel/reel-4.png" alt="reel 4" class="a-img" />
    </div>
    <div class="m-reel">
      <img src="../../../assets/reel/reel-5.jpg" alt="reel 5" class="a-img" />
    </div>
    <div class="m-reel">
      <img src="../../../assets/reel/reel-6.jpg" alt="reel 6" class="a-img" />
    </div>
    <div class="m-reel">
      <img src="../../../assets/reel/reel-7.png" alt="reel 7" class="a-img" />
    </div>
    <div class="m-reel">
      <img src="../../../assets/reel/reel-1.jpg" alt="reel 1" class="a-img" />
    </div>
    <div class="m-reel">
      <img src="../../../assets/reel/reel-2.jpg" alt="reel 2" class="a-img" />
    </div>
    <div class="m-reel">
      <img src="../../../assets/reel/reel-3.jpg" alt="reel 3" class="a-img" />
    </div>
    <div class="m-reel _bg">
      <img src="../../../assets/reel/reel-4.png" alt="reel 4" class="a-img" />
    </div>
    <div class="m-reel">
      <img src="../../../assets/reel/reel-5.jpg" alt="reel 5" class="a-img" />
    </div>
    <div class="m-reel">
      <img src="../../../assets/reel/reel-6.jpg" alt="reel 6" class="a-img" />
    </div>
    <div class="m-reel">
      <img src="../../../assets/reel/reel-7.png" alt="reel 7" class="a-img" />
    </div>
    <div class="m-reel">
      <img src="../../../assets/reel/reel-1.jpg" alt="reel 1" class="a-img" />
    </div>
    <div class="m-reel">
      <img src="../../../assets/reel/reel-2.jpg" alt="reel 2" class="a-img" />
    </div>
    <div class="m-reel">
      <img src="../../../assets/reel/reel-3.jpg" alt="reel 3" class="a-img" />
    </div>
    <div class="m-reel _bg">
      <img src="../../../assets/reel/reel-4.png" alt="reel 4" class="a-img" />
    </div>
    <div class="m-reel">
      <img src="../../../assets/reel/reel-5.jpg" alt="reel 5" class="a-img" />
    </div>
    <div class="m-reel">
      <img src="../../../assets/reel/reel-6.jpg" alt="reel 6" class="a-img" />
    </div>
    <div class="m-reel">
      <img src="../../../assets/reel/reel-7.png" alt="reel 7" class="a-img" />
    </div>
  </div>
  <div class="m-strip d-flex">
    <div class="flex-fill a-strip _green"></div>
    <div class="flex-fill a-strip _purple"></div>
    <div class="flex-fill a-strip _orange"></div>
    <div class="flex-fill a-strip _red"></div>
    <div class="flex-fill a-strip _blue"></div>
  </div>
</div>
