// BASE [ MIXINS ] ####################################################################################################

// A.1. POSITION EQUAL SIDES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin position ($position, $padding) {

  position: $position;
  top: $padding;
  right: $padding;
  bottom: $padding;
  left: $padding;

}

// A.1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. VERTICAL ALIGN MIXIN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B.1. Vertical Align --------------------------------------------------------------------------------------------

@mixin vertical-align($position){

  position: $position;
  top: 50%;
  -ms-transform: translateY(-50%) ;
  -webkit-transform: translateY(-50%) ;
  transform: translateY(-50%) ;

}

// B.1. END -------------------------------------------------------------------------------------------------------

// B.1. Vertical Flex ---------------------------------------------------------------------------------------------

@mixin vertical-flex($height){

  justify-content: center;
  flex-direction: column;
  height: $height;

}

// B.1. END -------------------------------------------------------------------------------------------------------

// B.1. Center Align ----------------------------------------------------------------------------------------------

@mixin center-align(){

  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

}

// B.1. END -------------------------------------------------------------------------------------------------------

// B.1. Center Align ----------------------------------------------------------------------------------------------

@mixin middle-align(){

  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

}

// B.1. END -------------------------------------------------------------------------------------------------------

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. ASPECT RATIO ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


@mixin aspect-ratio ($width, $aspect){

  position: relative;
  width: $width;

  &:before {

    content: "";
    display: block;
    padding-top: $aspect;

  }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D.1. ARROWS --------------------------------------------------------------------------------------------------------

// D.1.1. DOWN ARROW --------------------------------------

@mixin arrow-down ($size, $color, $padding) {

  outline: 0;

  &:after {

    content: '';
    outline: 0;
    width: 0;
    height: 0;
    right: $padding;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    @include center-align();

  }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. ANIMATIONS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E.1. ANIMATED CLOSE BUTTON -----------------------------

@mixin close-button ($size, $bar-thickness, $color, $hover-color) {

  position: absolute; top: 5px; right: 5px; width: $size; height: $size; cursor: pointer;

  &:before {
    content: '';
    background: $color;
    width: 100%;
    height: $bar-thickness;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: 0.3s;
  }

  &:after {
    content: '';
    background: $color;
    width: 100%;
    height: $bar-thickness;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: 0.3s;
  }

  &:hover {
    &:before    { transform: translate(-50%, -50%) rotate(-45deg); transition: 0.3s; background: $hover-color; }
    &:after     { transform: translate(-50%, -50%) rotate(45deg); transition: 0.3s; background: $hover-color; }
  }

}

// E.1. END -----------------------------------------------

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
