// GLOBAL [ TYPOGRAPHY ]  #############################################################################################

// A. FONT SOURCE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$font: "Lato", sans-serif;
$poppins: "Poppins", sans-serif;

// A.2. RESPONSIVE FONT VARIABLES -------------------------
// font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

$view-min-xs: 320;
$view-max-md: 1400;

// A.2. END -----------------------------------------------

// A.3. TYPOGRAPHY STYING ---------------------------------
// A.3.1. QUICK RESPONSIVE FONTS --------------------------

// H1 -----------------------
$h1-min-xs: 40; // minimum font size at smallest screen size
$h1-max-md: 72; // maximum font size at largest screen size
$h1-max: 72; // failsafe for larger screens

$h1-minLH-xs: 52; // minimum line height at smallest screen size
$h1-maxLH-md: 92; // maximum line height at largest screen size
$h1-maxLH: 92; // failsafe for larger screens

@mixin fntH1 {
  font-size: calc(
    #{$h1-min-xs}px + (#{$h1-max-md} - #{$h1-min-xs}) *
      ((100vw - #{$view-min-xs}px) / (#{$view-max-md} - #{$view-min-xs}))
  );
  line-height: calc(
    #{$h1-minLH-xs}px + (#{$h1-maxLH-md} - #{$h1-minLH-xs}) *
      ((100vw - #{$view-min-xs}px) / (#{$view-max-md} - #{$view-min-xs}))
  );

  @media ($xxl-up) {
    font-size: #{$h1-max}px;
    line-height: #{$h1-maxLH}px;
  }
}

// END: H1 ------------------

// H2 -----------------------
$h2-min-xs: 32;
$h2-max-md: 40;
$h2-max: 40;

$h2-minLH-xs: 48;
$h2-maxLH-md: 52;
$h2-maxLH: 52;

@mixin fntH2 {
  font-size: calc(
    #{$h2-min-xs}px + (#{$h2-max-md} - #{$h2-min-xs}) *
      ((100vw - #{$view-min-xs}px) / (#{$view-max-md} - #{$view-min-xs}))
  );
  line-height: calc(
    #{$h2-minLH-xs}px + (#{$h2-maxLH-md} - #{$h2-minLH-xs}) *
      ((100vw - #{$view-min-xs}px) / (#{$view-max-md} - #{$view-min-xs}))
  );

  @media ($xxl-up) {
    font-size: #{$h2-max}px;
    line-height: #{$h2-maxLH}px;
  }
}
// END: H2 ------------------

// H3 -----------------------
$h3-min-xs: 24;
$h3-max-md: 32;
$h3-max: 32;

$h3-minLH-xs: 36;
$h3-maxLH-md: 46;
$h3-maxLH: 46;

@mixin fntH3 {
  font-size: calc(
    #{$h3-min-xs}px + (#{$h3-max-md} - #{$h3-min-xs}) *
      ((100vw - #{$view-min-xs}px) / (#{$view-max-md} - #{$view-min-xs}))
  );
  line-height: calc(
    #{$h3-minLH-xs}px + (#{$h3-maxLH-md} - #{$h3-minLH-xs}) *
      ((100vw - #{$view-min-xs}px) / (#{$view-max-md} - #{$view-min-xs}))
  );
  @media ($xxl-up) {
    font-size: #{$h3-max}px;
    line-height: #{$h3-maxLH}px;
  }
}
// END: H3 ------------------

// H4 -----------------------
$h4-min-xs: 24;
$h4-max-md: 32;
$h4-max: 32;

$h4-minLH-xs: 34;
$h4-maxLH-md: 46;
$h4-maxLH: 46;

@mixin fntH4 {
  font-size: calc(
    #{$h4-min-xs}px + (#{$h4-max-md} - #{$h4-min-xs}) *
      ((100vw - #{$view-min-xs}px) / (#{$view-max-md} - #{$view-min-xs}))
  );
  line-height: calc(
    #{$h4-minLH-xs}px + (#{$h4-maxLH-md} - #{$h4-minLH-xs}) *
      ((100vw - #{$view-min-xs}px) / (#{$view-max-md} - #{$view-min-xs}))
  );
  @media ($xxl-up) {
    font-size: #{$h4-max}px;
    line-height: #{$h4-maxLH}px;
  }
  font-weight: 700;
}
// END: H4 ------------------

// H5 -----------------------
$h5-min-xs: 24;
$h5-max-md: 32;
$h5-max: 32;

$h5-minLH-xs: 34;
$h5-maxLH-md: 44;
$h5-maxLH: 44;

@mixin fntH5 {
  font-size: calc(
    #{$h5-min-xs}px + (#{$h5-max-md} - #{$h5-min-xs}) *
      ((100vw - #{$view-min-xs}px) / (#{$view-max-md} - #{$view-min-xs}))
  );
  line-height: calc(
    #{$h5-minLH-xs}px + (#{$h5-maxLH-md} - #{$h5-minLH-xs}) *
      ((100vw - #{$view-min-xs}px) / (#{$view-max-md} - #{$view-min-xs}))
  );
  @media ($xxl-up) {
    font-size: #{$h5-max}px;
    line-height: #{$h5-maxLH}px;
  }
  font-weight: 400;
}
// END: H5 ------------------

// H6 -----------------------
$h6-min-xs: 18;
$h6-max-md: 18;
$h6-max: 18;

$h6-minLH-xs: 34;
$h6-maxLH-md: 26;
$h6-maxLH: 26;

@mixin fntH6 {
  font-size: calc(
    #{$h6-min-xs}px + (#{$h6-max-md} - #{$h6-min-xs}) *
      ((100vw - #{$view-min-xs}px) / (#{$view-max-md} - #{$view-min-xs}))
  );
  line-height: calc(
    #{$h6-minLH-xs}px + (#{$h6-maxLH-md} - #{$h6-minLH-xs}) *
      ((100vw - #{$view-min-xs}px) / (#{$view-max-md} - #{$view-min-xs}))
  );
  @media ($xxl-up) {
    font-size: #{$h6-max}px;
    line-height: #{$h6-maxLH}px;
  }
}
// END: H6 ------------------

// P ------------------------

p {
  margin-bottom: 1rem;
  color: $grey-59;
}

.contact {
  p {
    color: $white;
  }
}

// END: P -------------------

// LISTS ---------------------

ul {
  padding-left: 0;
  list-style-position: inside;
  margin-bottom: $base-xs;
  li {
    color: $grey-59;
  }
}

.contact {
  ul {
    li {
      color: $white;
    }
  }
}

// END: LISTS ---------------

// Scaled -------------------
$sf-min-xs: 20;
$sf-max-md: 22;
$sf-max: 22;

$sf-minLH-xs: 26;
$sf-maxLH-md: 30;
$sf-maxLH: 30;

@mixin scaledFont(
  $sf-min-xs,
  $sf-max-md,
  $sf-max,
  $sf-minLH-xs,
  $sf-maxLH-md,
  $sf-maxLH
) {
  font-size: calc(
    #{$sf-min-xs}px + (#{$sf-max-md} - #{$sf-min-xs}) *
      ((100vw - #{$view-min-xs}px) / (#{$view-max-md} - #{$view-min-xs}))
  );
  line-height: calc(
    #{$sf-minLH-xs}px + (#{$sf-maxLH-md} - #{$sf-minLH-xs}) *
      ((100vw - #{$view-min-xs}px) / (#{$view-max-md} - #{$view-min-xs}))
  );
  @media ($xxl-up) {
    font-size: #{$sf-max}px;
    line-height: #{$sf-maxLH}px;
  }
}
// END: Scaled --------------

// Fixed --------------------
@mixin font($size) {
  font-size: #{$size}px;
  line-height: normal;
  @media ($xxl-up) {
    font-size: #{$size}px;
    line-height: normal;
  }
}
// Fixed --------------------

// A.3. END -----------------------------------------------

// END OF FILE ########################################################################################################
