<div class="o-title-description-stats container">
  <div class="m-content">
    <h3>Stats about FONK</h3>
    <h6>Get to know us a little better!</h6>
  </div>
  <div class="m-stats">
    <ul class="d-md-flex flex-md-wrap justify-content-between">
      <li>
        <div class="m-stat">
          <span
            [countUp]="15"
            [options]="{ enableScrollSpy: true }"
            class="a-stat fntH1"
            >15</span
          ><span class="fntH1">m+</span>
        </div>
        <span class="fntH4 a-desc">End users reached</span>
      </li>
      <li>
        <div class="m-stat">
          <span
            class="fntH1 a-stat"
            [countUp]="10"
            [options]="{ enableScrollSpy: true }"
            >10</span
          >
        </div>
        <span class="fntH4 a-desc">Broken table tennis rackets</span>
      </li>
      <li>
        <div class="m-stat">
          <span
            class="fntH1 a-stat"
            [countUp]="2000"
            [options]="{ enableScrollSpy: true }"
            >2000</span
          >
        </div>
        <span class="fntH4 a-desc">Projects completed</span>
      </li>
      <li>
        <div class="m-stat">
          <span
            class="fntH1 a-stat"
            [countUp]="65"
            [options]="{ enableScrollSpy: true }"
            >65</span
          >
          <span class="fntH1">%</span>
        </div>
        <span class="fntH4 a-desc">International clients</span>
      </li>
    </ul>
  </div>
</div>
