<h1>Poppins SemiBold</h1>
<h2>Poppins SemiBold</h2>
<h3>Poppins SemiBold</h3>
<h4>Lato Bold</h4>
<h5>Lato Regular</h5>
<p>Lato light</p>
<h2>Spot Colors</h2>
<div class="d-flex flex-wrap">
  <span class="a-circle bg-green"></span>
  <div>
    <b>Growth</b>
    <p class="text-grey">#59BB67</p>
  </div>
</div>
<div class="d-flex">
  <span class="a-circle bg-purple"></span>
  <div>
    <b>Innovation Station</b>
    <p class="text-grey">#8000FF</p>
  </div>
</div>
<div class="d-flex">
  <span class="a-circle bg-red"></span>
  <div>
    <b>Launch Pad</b>
    <p class="text-grey">#FF3355</p>
  </div>
</div>
<div class="d-flex">
  <span class="a-circle bg-teal"></span>
  <div>
    <b>Development</b>
    <p class="text-grey">#5CCFE6</p>
  </div>
</div>
<div class="d-flex">
  <span class="a-circle bg-orange"></span>
  <div>
    <b>DevOps / Operational</b>
    <p class="text-grey">#FF9500</p>
  </div>
</div>
<h2>Buttons</h2>
<a href="#" class="a-btn _primary">Primary</a>
<a href="#" class="a-btn _secondary">Secondary</a>
<a href="#" class="a-text-link">Text link</a>
<a href="#" class="a-text-link-icn">Text link + icon</a>
