<div class="o-title-description-logos">
  <div class="container d-lg-flex align-items-center justify-content-between">
    <div class="m-content">
      <h2>Our Clients</h2>
      <h4>Big or small, we love them all.</h4>
    </div>
    <div class="m-grid">
      <div class="a-grid">
        <img
          src="../../../assets/logos/logo-goto.png"
          alt="gotoview"
          class="a-img"
        />
      </div>
      <div class="a-grid">
        <img
          src="../../../assets/logos/logo-pensioen.png"
          alt="Pensionfonds Detailhandel"
          class="a-img"
        />
      </div>
      <div class="a-grid">
        <img
          src="../../../assets/logos/logo-yolt.png"
          alt="YOLT"
          class="a-img"
        />
      </div>
      <div class="a-grid">
        <img
          src="../../../assets/logos/logo-glen.png"
          alt="The glen"
          class="a-img"
        />
      </div>
      <div class="a-grid">
        <img
          src="../../../assets/logos/logo-seederdeboer.png"
          alt="Seeder de Boer"
          class="a-img"
        />
      </div>
      <div class="a-grid">
        <img
          src="../../../assets/logos/logo-linda.png"
          alt="Linda Kriel fitness"
          class="a-img"
        />
      </div>
      <div class="a-grid">
        <img
          src="../../../assets/logos/logo-goolf.png"
          alt="goolf"
          class="a-img"
        />
      </div>
      <div class="a-grid">
        <img src="../../../assets/logos/logo-ing.png" alt="ING" class="a-img" />
      </div>
    </div>
  </div>
</div>
