<div class="o-footer">
  <div class="container d-md-flex flex-wrap align-items-start">
    <div class="m-intro col-12 col-lg-4">
      <img class="a-logo" src="../../assets/fonk-logo-white.svg" alt="FONK" />
      <p class="a-heading fntH6">Product Development</p>
      <ul class="m-social">
        <li>
          <a href="https://www.facebook.com/fonkcapetown/" target="_blank"
            ><img
              class="a-social"
              src="../../assets/icons/icon-facebook.png"
              alt="facebook"
          /></a>
        </li>
        <li>
          <a href="https://www.instagram.com/fonkcapetown/" target="_blank"
            ><img
              class="a-social"
              src="../../assets/icons/icon-instagram.png"
              alt="instagram"
          /></a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/company/fonk-cape-town/"
            target="_blank"
            ><img
              class="a-social"
              src="../../assets/icons/icon-linkedin.png"
              alt="LinkedIn"
          /></a>
        </li>
      </ul>
    </div>
    <div class="m-menu col-12 col-md-4">
      <strong class="a-strong">Menu</strong>
      <ul>
        <li><a href="">Services</a></li>
        <li><a href="">Team</a></li>
        <li><a routerLink="/contact" href="">Contact</a></li>
      </ul>
    </div>
    <div class="m-address col-12 col-md-8 col-lg-4">
      <strong class="a-strong">Office</strong>
      <address>
        <p>
          Unit 201, Old Castle Brewery,<br />6 Beach Rd, Woodstock,<br />Cape
          Town, 7915
        </p>
      </address>
    </div>
    <hr />
    <div class="col-12 m-copyright">
      <p>Copyright 2022 FONK Cape Town. All rights reserved.</p>
    </div>
  </div>
</div>
